h1{
    color: blue;
}

.main-title{
    font-size: 5rem;
}

.highlight{
    background-color: yellow;
}

#unique-box{
    border: 2px solid red;
    padding: 10px;
}

.important{
    color: rgb(0, 255, 0);
}